@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  padding: 20px;
  min-height: 100vh;
  overflow-y: visible;
  overflow-x: scroll;
  display: flex;
}

.cards-container {
  flex: 1;
  display: flex;
  gap: 30px;

  > div {
    width: max(300px, 20vw);
  }
}

.add-card-container {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  height: max-content;

  textarea {
    background-color: white;
    border-radius: 5px;
    padding: 8px;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:first-child {
        padding: 5px 10px;
        color: #FFF;
        border-radius: 5px;
        border: none;
        background-color: cadetblue;
        width: max-content;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  border-radius: 5px;

}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
