@use "reset";
@use "colors";
@use "spacing";
@use "typography";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

textarea, input {
  padding: spacing.$sm;
  border-radius: 5px;
  width: 100%;
  &:focus {
    box-shadow: 0 0 9px 1px colors.$primary;
  }

  &.dark {
    box-shadow: 0 0 9px 1px colors.$secondary;
    color: colors.$light;
  }
}


.focus {
  box-shadow: 0 0 9px 1px colors.$primary;
}

.btn {
  cursor: pointer;
  padding: spacing.$sm spacing.$md;
  border-radius: spacing.$sm;
  border: none;
  background-color: colors.$primary;
  color: colors.$light;
  display: flex;
  align-items: center;
  justify-content: center;

  &.dark {
    background-color: colors.$secondary;
  }

  &-transparent {
    background-color: transparent;
    color: colors.$dark;

    &.dark {
      color: colors.$light;
      background-color: transparent;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

}

.cards-container {
  flex: 1;
  display: flex;
  gap: spacing.$xl;
  flex-wrap: unset;

  > div {
    width: max(300px, 20vw);
  }
}

.add-card-container {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  gap: spacing.$lg;
  height: max-content;

  &.dark {
    background-color: colors.$dark;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: spacing.$md;
  }
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  border-radius: 5px;

}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid colors.$primary;
  border-color: colors.$primary transparent colors.$primary transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
