@use "reset";
@use "colors";
@use "spacing";
@use "typography";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

textarea, input {
  padding: spacing.$sm;
  border-radius: 5px;
  width: 100%;
  &:focus {
    box-shadow: 0 0 9px 1px colors.$primary;
  }
}


.focus {
  box-shadow: 0 0 9px 1px colors.$primary;
}

.btn {
  cursor: pointer;
  padding: spacing.$sm spacing.$md;
  border-radius: spacing.$sm;
  border: none;
  background-color: colors.$primary;
  color: colors.$light;
  display: flex;
  align-items: center;
  justify-content: center;

  &-transparent {
    background-color: transparent;
    color: colors.$dark;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &.light {
    background-color: colors.$secondary;
    color: colors.$dark;
  }

  &.dark {
    background-color: colors.$primary;
    color: colors.$light;
  }

  &:disabled {
    cursor: not-allowed;
  }

}




.dnd-wrapper {
  overflow-y: visible;
  overflow-x: scroll;
  display: flex;
  height: 100vh;
}

.cards-container {
  flex: 1;
  display: flex;
  gap: spacing.$xl;
  flex-wrap: unset;


  > div {
    width: max(300px, 20vw);
  }
}

.add-card-container {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  gap: spacing.$lg;
  height: max-content;

  .actions {
    display: flex;
    align-items: center;
    gap: spacing.$md;
  }
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  border-radius: 5px;

}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: loader 1.2s linear infinite;
}
