@use "../../styles/colors";

.emptyCard {
  cursor: pointer;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 10px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &.dark {
    border-color: rgba(colors.$light, 0.7);
    color: colors.$light;
  }
}
