@use "../../styles/colors";
@use "../../styles/spacing";


.card {
  border-radius: 10px;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: spacing.$sm;
  word-wrap: break-word;
  background-color: colors.$light;
}


.modal {
  display: flex;
  flex-direction: column;
  gap: spacing.$lg;

  & :global {

    .confirmation {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: spacing.$md;

      > div {
        display: flex;
        gap: spacing.$md;
        align-items: center;
      }
    }

    .title-container {

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: spacing.$sm;

      .input-container {
        display: flex;
        align-items: center;

        span {
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          cursor: pointer;
        }
      }

    }

    .description-container {
      display: flex;
      gap: spacing.$md;
      width: 100%;
      flex-direction: column;
      word-break: break-word;


      .text-area {
        display: flex;
        flex-direction: column;
        gap: spacing.$xl;

        > div {
          display: flex;
          gap: spacing.$xl;
          align-items: center;
        }

        textarea {
          height: 150px;
          width: 96%;
        }

      }

      > div:first-child {
        display: flex;
        align-items: center;
        gap: spacing.$md;
      }
    }
  }
}
