@use "../../styles/colors";

.ad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 10px;
  background-color: colors.$light;
  color: colors.$dark
}
